requests
pandas
numpy
python-dotenv
psycopg2-binary
sqlalchemy
groq
sentence-transformers
scikit-learn
xgboost
tensorflow
shap
fastapi
uvicorn
streamlit
plotly
matplotlib
seaborn
rapidfuzz
nltk
jupyter